# Dependency Directories
node_modules/


# Build Artifacts
dist/

# Testing
coverage/

# Environment Variables (Sensitive Information)
.env

# Package Lock Files
package-lock.json
pnpm-lock.yaml
yarn.lock
bun.lockb